@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Episcene';
        src: url('/public/fonts/TestEpiceneDisplay-Regular.otf') format('otf');
        /* Add more src URLs for different font formats if necessary */
        font-weight: normal;
        font-style: normal;
    }
}